@charset "utf-8";

body{
    background-color: rgb(69, 194, 89);
    font: normal 15pt Arial;
}

header{
    color: #fff; text-align: center;
}

section{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px; margin: auto;
    width: 500px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

div > textarea {
    /* margin: 10px; */
    /* text-align: center; */

    position: relative;
    top: 50px; left: 75px;

    transform: translate(-2%, -17%);
}

button{
    border-radius: 5px; border: 1px solid greenyellow;
    padding: 5px; background-color: rgb(6, 109, 6); color: greenyellow;
}

button:hover{
    cursor: pointer;
}

footer{
    color: #fff; text-align: center;
    font-style: italic;
}